<header>
  <div class="top-stripe row">
    <span class="top-stripe-1"></span>
    <span class="top-stripe-2"></span>
    <span class="top-stripe-3"></span>
    <span class="top-stripe-4"></span>
  </div>
  <div class="container">
    <h1 class="logo">Fliplingo.</h1>
  </div>
</header>
<!-- /header -->

<section class="how-it-works">
  <div class="container">
    <div class="fluid-row">
      <h1>Reach out to the World</h1>
      <h2>Fliplingo automatically publishes your content in different languages.</h2>
    </div>
    <div id="how-it-works" class="row-fluid">
      <ul class="clearfix">
        <li class="span4">
          <%= image_tag('splash-page/share.png', width: 96, height: 96, alt: 'tweet', class: 'tweet') %>
          <strong>You tweet</strong>
          <p>Update your account in your own language as usual.</p>
        </li>
        <li class="span4">
          <%= image_tag('splash-page/pensils.png', width: 96, height: 96, alt: 'translate', class: 'translate') %>
          <strong>We translate</strong>
          <p>Fliplingo translates your tweets in up to 40 languages.</p>
        </li>
        <li class="span4">
          <%= image_tag('splash-page/chat.png', width: 96, height: 96, alt: 'publish', class: 'publish') %>
          <strong>We publish</strong>
          <p>Fliplingo publishes your translated tweets where you need.</p>
        </li>
      </ul>
    </div>
    <%= form_for @invite, html: { class: 'notification row control-group huge' } do |f| %>
        <%= f.text_field :email, class: "span4 email", placeholder: 'Your email address' %>
        <%= f.submit 'Notify me', class: "btn btn-primary btn-huge btn-danger" %>
    <% end %>
    <p class="thanks">
      Thanks!<br />
      <a href="https://twitter.com/share?url=&text=Automate%20your%20translations%20with%20Fliplingo%20at%20http%3A%2F%2Ffliplingo.com%20&via=fliplingo" target="_blank">Tweet about it</a>
    </p>
  </div>
</section>
<!-- /.how-it-works -->

<section class="why">
  <div class="container">
    <h3>Why you will <strong>love us</strong></h3>
    <ul>
      <li class="row">
        <span class="span3">
        <%= image_tag('splash-page/time.png', width: 160, height: 160, alt: 'save time') %>
        </span>
        <span class="span5">
          <h4 >Save Time</h4>
          <p>No need to manually translate your one by one. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </span>
      </li>

      <li class="row">
        <span class="span5">
          <h4>Quality Translation</h4>
          <p>Choose between Machine translation and Human translation. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </span>
        <span class="span3">
          <%= image_tag('splash-page/quality.png', width: 160, height: 160, alt: 'quality translation') %>
        </span>
      </li>

      <li class="row">
        <span class="span3">
          <%= image_tag('splash-page/global.png', width: 160, height: 160, alt: 'be global') %>
        </span>
        <span class="span5">
          <h4>Be Global</h4>
          <p>Engage with people from all around the world in your own language. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </span
      </li>
    </ul>
  </div>
</section>
<!-- /.why -->

<footer>
    <div class="container">
      <strong>The simplest </strong>
      <input type="email" value="Your email address" name="mail" id="mail" />
      <input type="submit" value="Notify me" />
      <ul>
        <li>Contact Us</li>
        <li>Twitter</li>
      </ul>
    </div>

</footer>
<!-- /footer -->
