<header>
  <div class="top-stripe row">
    <span class="top-stripe-1"></span>
    <span class="top-stripe-2"></span>
    <span class="top-stripe-3"></span>
    <span class="top-stripe-4"></span>
  </div>
  <div class="container">
    <h1 class="logo">Fliplingo. - High quality tweet translation</h1>
  </div>
</header>
<!-- /header -->

<section class="how-it-works">
  <div class="container">
    <div class="fluid-row">
      <h1>Reach out to the World</h1>
      <h2>Fliplingo automatically translates and posts your tweets in multiple languages.</h2>
    </div>
    <div id="how-it-works" class="row-fluid">
      <ul class="clearfix">
        <li class="span4">
          <%= image_tag('splash-page/share.png', width: 96, height: 96, alt: 'tweet', class: 'tweet') %>
          <strong>You tweet</strong>
          <p>Simply tweet in your own language.</p>
        </li>
        <li class="span4">
          <%= image_tag('splash-page/pensils.png', width: 96, height: 96, alt: 'translate', class: 'translate') %>
          <strong>We translate</strong>
          <p>Fliplingo automatically translates your tweets in up to 40 languages.</p>
        </li>
        <li class="span4">
          <%= image_tag('splash-page/chat.png', width: 96, height: 96, alt: 'publish', class: 'publish') %>
          <strong>We manage</strong>
          <p>Fliplingo posts your translated tweets on any account you’d like.</p>
        </li>
      </ul>
    </div>
    <%= render :partial => 'notification', :locals => { :invite => @invite } %>
  </div>
</section>
<!-- /.how-it-works -->

<section class="why">
  <div class="container">
    <h3>Why you will <strong>love us</strong> ?</h3>
    <ul>
      <li class="row">
        <span class="span3">
        <%= image_tag('splash-page/time.png', width: 160, height: 160, alt: 'save time') %>
        </span>
        <span class="span5">
          <h4 >You will save time</h4>
          <p>You can stop copying and pasting, right now. Easily connect your accounts once and we will manage them for you in real time.</p>
        </span>
      </li>

      <li class="row">
        <span class="span5">
          <h4>We provide quality translation</h4>
          <p>Choose between computer generated translation and human-powered translation. Our network of translators offers a 99% satisfaction rate at an affordable price. </p>
        </span>
        <span class="span3">
          <%= image_tag('splash-page/quality.png', width: 160, height: 160, alt: 'quality translation') %>
        </span>
      </li>

      <li class="row">
        <span class="span3">
          <%= image_tag('splash-page/global.png', width: 160, height: 160, alt: 'be global') %>
        </span>
        <span class="span5">
          <h4>You become global</h4>
          <p>You will engage in discussions and attract followers from anywhere around the world, in the comfort of your own language.
 </p>
        </span
      </li>
    </ul>
  </div>
</section>
<!-- /.why -->

<section class="footer-notification">
  <div class="container">
    <p>Coming very soon.</p>
    <%= render :partial => 'notification', :locals => { :invite => @invite } %>
  </div>
</section>

<footer>
  <div class="container">
    <ul>
      <li><a href="mailto:matt@fliplingo.com">email</a></li>
      <li><a href="https://twitter.com/fliplingo" target="_blank">twitter</a></li>
    </ul>
  </div>
</footer>
<!-- /footer -->
